<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 25.11.13
  Time: 15:15
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

    <ui:define name="body">
        <div class="bs-docs-section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-example">
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                            <li><a href="#find">1.Поиск</a></li>
                            <li class="active"><a href="#fight">2.Рейсы</a></li>
                            <li><a href="#trafic">3.Тарифы</a></li>
                            <li><a href="#count">4.Количество</a></li>
                            <li><a href="#confirm">5.Подтверждение</a></li>
                            <li><a href="#orderIsReady">6.Заказ готов</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade" id="find">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade active in" id="fight">
                                <h:form>
                                    <h:dataTable class="table table-bordered" style="text-align: center" value="#{RailWayBean.foundTrips}" var="trip">
                                        <h:column>
                                            <f:facet name="header">№</f:facet>
                                            <h:outputText value="#{trip.id}" size="10"  />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Отправление</f:facet>
                                            <h:outputText value="#{trip.route.station_start}" size="10"  />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Прибытие</f:facet>
                                            <h:outputText value="#{trip.route.station_finish}" size="10"  />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Дата отправления</f:facet>
                                            <h:outputText value="#{trip.date_start}" size="10"  />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Время отправления</f:facet>
                                            <h:outputText value="#{trip.route.time_start}" size="10"  />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Время в пути</f:facet>
                                            <h:outputText value="#{trip.route.time_in_way}" size="10"  />
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header">Выбрать</f:facet>
                                            <h:commandButton value="Выбрать"
                                                             action="#{RailWayBean.chooseTrip()}" styleClass="btn-lg btn btn-primary">
                                                <f:setPropertyActionListener
                                                        target="#{RailWayBean.choseTrip}" value="#{trip}" />
                                                <f:setPropertyActionListener
                                                        target="#{RailWayBean.preceding_page}" value="chooseFight" />
                                            </h:commandButton>
                                        </h:column>
                                    </h:dataTable>
                                </h:form>
                            </div>
                            <div class="tab-pane fade" id="trafic">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="count">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="confirm">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="orderIsReady">
                                Произошла ошибка.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ui:define>
        <ui:define name="title">
            chooseTrip
        </ui:define>
        <ui:define name="nav">
            <h:form>
                <h:commandButton value="Шаг назад" styleClass="btn-lg btn btn-primary"
                                 action="#{RailWayBean.toPreceding()}">
                </h:commandButton>
                <h:commandButton value="На главную" styleClass="btn-lg btn btn-primary"
                                 action="#{RailWayBean.toIndex()}">
                </h:commandButton>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>