<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 07.12.13
  Time: 17:56
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

        <ui:define name="body">
    <h:form id="form"  styleClass="form-signin" role="form">
        <h:outputLabel value="#{searchBean.message}"></h:outputLabel>
        <h2>Логин</h2><br/>
        <h:inputText id="login" value="#{searchBean.login}" styleClass="form-control"></h:inputText><br/>
        <h2>Пароль</h2>
        <h:inputText id="password1" value="#{searchBean.password1}" styleClass="form-control"></h:inputText><br/>
        <h2>Повторите пароль</h2>
        <h:inputText id="password2" value="#{searchBean.password2}" styleClass="form-control"></h:inputText><br/>
        <h:commandButton value="Зарегистрироваться" action="#{searchBean.register}" styleClass="btn btn-lg btn-primary"/>
    </h:form>
</ui:define>
<ui:define name="title">
    register
</ui:define>

</ui:composition>
</h:body>

</html>