<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 06.12.13
  Time: 9:51
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsf/html">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

        <ui:define name="body">
            <div class="bs-docs-section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-example">
                            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                <li><a href="#find">1.Поиск</a></li>
                                <li><a href="#fight">2.Рейсы</a></li>
                                <li><a href="#trafic">3.Тарифы</a></li>
                                <li class="active"><a href="#count">4.Количество</a></li>
                                <li><a href="#confirm">5.Подтверждение</a></li>
                                <li><a href="#orderIsReady">6.Заказ готов</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade" id="find">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade" id="fight">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade" id="trafic">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade active in" id="count">
                                    <h:form>
                                        <h:dataTable class="table table-bordered" style="text-align: center" value="#{searchBean.choosenTrip}" var="fight">
                                            <h:column>
                                                <f:facet name="header">№</f:facet>
                                                <h:outputText value="#{fight.id_trip}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Отправление</f:facet>
                                                <h:outputText value="#{fight.station_start}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Прибытие</f:facet>
                                                <h:outputText value="#{fight.station_finish}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Дата отправления</f:facet>
                                                <h:outputText value="#{fight.day_start}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Время отправления</f:facet>
                                                <h:outputText value="#{fight.time_start}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Дата прибытия</f:facet>
                                                <h:outputText value="#{fight.day_finish}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Время прибытия</f:facet>
                                                <h:outputText value="#{fight.time_finish}" size="10"  />
                                            </h:column>
                                        </h:dataTable>
                                        Укажите количество билетов <h:inputText id="count_ticket" value="#{RailWayBean.count_ticket}"/>
                                        <br/>
                                        <h:commandButton value="Оформить заказ"
                                                         action="#{RailWayBean.formOrder}" styleClass="btn-lg btn btn-primary">
                                            <f:setPropertyActionListener
                                                    target="#{RailWayBean.preceding_page}" value="chooseFight" />
                                        </h:commandButton>
                                    </h:form>
                                </div>
                                <div class="tab-pane fade" id="confirm">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade" id="orderIsReady">
                                    Произошла ошибка.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</ui:define>
<ui:define name="title">
    chooseCount
</ui:define>

        <ui:define name="nav">
            <h:form>
                <h:commandButton value="Шаг назад" styleClass="btn-lg btn btn-primary"
                                 action="#{RailWayBean.toPreceding()}">
                </h:commandButton>
                <h:commandButton value="На главную" styleClass="btn-lg btn btn-primary"
                                 action="#{RailWayBean.toIndex()}">
                </h:commandButton>
            </h:form>
        </ui:define>
</ui:composition>
</h:body>

</html>