<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 06.12.13
  Time: 17:49
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

        <ui:define name="body">
            <div class="bs-docs-section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-example">
                            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                <li><a href="#find">1.Поиск</a></li>
                                <li><a href="#fight">2.Рейсы</a></li>
                                <li><a href="#trafic">3.Тарифы</a></li>
                                <li><a href="#count">4.Количество</a></li>
                                <li  class="active"><a href="#confirm">5.Подтверждение</a></li>
                                <li><a href="#orderIsReady">6.Заказ готов</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade" id="find">
                                </div>
                                <div class="tab-pane fade" id="fight">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade" id="trafic">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade" id="count">
                                    Произошла ошибка.
                                </div>
                                <div class="tab-pane fade  active in" id="confirm">
                                    <h:form>
                                        <h:dataTable class="table table-bordered" style="text-align: center">
                                            <h:column>
                                                <f:facet name="header">№</f:facet>
                                                <h:outputText value="#{RailWayBean.choseTrip.id}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Отправление</f:facet>
                                                <h:outputText value="#{RailWayBean.choseTrip.route.station_start}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Прибытие</f:facet>
                                                <h:outputText value="#{RailWayBean.choseTrip.route.station_finish}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Дата отправления</f:facet>
                                                <h:outputText value="#{RailWayBean.choseTrip.date_start}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Время отправления</f:facet>
                                                <h:outputText value="#{RailWayBean.choseTrip.route.time_start}" size="10"  />
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Время в пути</f:facet>
                                                <h:outputText value="#{RailWayBean.choseTrip.route.time_in_way}" size="10"  />
                                            </h:column>
                                        </h:dataTable>

                                        <br/><h:outputLabel><pre>Класс              </pre></h:outputLabel><h:outputLabel><pre style="text-align: center">#{RailWayBean.purchase.name_class}</pre></h:outputLabel>
                                        <br/><h:outputLabel><pre>Количество билетов </pre></h:outputLabel><h:outputLabel><pre style="text-align: center">#{RailWayBean.purchase.ticket_count}</pre></h:outputLabel>
                                        <br/><h:outputLabel><pre>Сумма              </pre></h:outputLabel><h:outputLabel><pre style="text-align: center">#{RailWayBean.purchase.sum_for_count}</pre></h:outputLabel>
                                        <br/>
                                        <h:commandButton value="Подтвердить заказ"
                                                         action="#{RailWayBean.confirmPurchases()}" styleClass="btn-lg btn btn-primary">
                                            <f:setPropertyActionListener
                                                    target="#{RailWayBean.preceding_page}" value="formOrder" />

                                        </h:commandButton>
                                    </h:form>
                                </div>
                                <div class="tab-pane fade" id="orderIsReady">
                                    Произошла ошибка.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</ui:define>
<ui:define name="title">
    formOrder
</ui:define>
        <ui:define name="nav">
            <h:form>
                <h:commandButton value="Шаг назад" styleClass="btn-lg btn btn-primary"
                                 action="#{RailWayBean.toPreceding()}">
                </h:commandButton>
                <h:commandButton value="На главную" styleClass="btn-lg btn btn-primary"
                                 action="#{RailWayBean.toIndex()}">
                </h:commandButton>
            </h:form>
        </ui:define>
</ui:composition>
</h:body>

</html>